//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 10 11:02:44 2015
//! **************************************************************************

SCHEMATIC START;
COMP "ps2c" LOCATE = SITE "L12" LEVEL 1;
COMP "clk_i" LOCATE = SITE "V10" LEVEL 1;
COMP "ps2d" LOCATE = SITE "J13" LEVEL 1;
COMP "tx" LOCATE = SITE "N18" LEVEL 1;
COMP "reset" LOCATE = SITE "T5" LEVEL 1;
SCHEMATIC END;

