## SWITCHES##
#NET "" LOC = "V8" ; //Switch SW6
NET "rst_i" LOC = "T5" ; //Switch SW7

## LEDS ##
NET "data_o[7]" LOC = "U16" ; //LED LD0
NET "data_o[6]" LOC = "V16" ; //LED LD1
NET "data_o[5]" LOC = "U15" ; //LED LD2
NET "data_o[4]" LOC = "V15" ; //LED LD3
NET "data_o[3]" LOC = "M11" ; //LED LD4
NET "data_o[2]" LOC = "N11" ; //LED LD5
NET "data_o[1]" LOC = "R11" ; //LED LD6
NET "data_o[0]" LOC = "T11" ; //LED LD7

## PmodA ##
NET "cs_sng" LOC = "T12" ; //PmodA JA1
NET "adc_data" LOC = "V12" ; //PmodA JA2
#NET "mmm" LOC = "N10" ; //PmodA JA3
NET "clk_o" LOC = "P11" ; //PmodA JA4
#NET "YE" LOC = "M10" ; //PmodA JA7
#NET "YF" LOC = "N9" ; //PmodA JA8
#NET "YG" LOC = "U11" ; //PmodA JA9
#NET "YH" LOC = "V11" ; //PmodA JA10

## PmodB ##
NET "data_o[8]" LOC = "K2" ; //PmodB JB1 
NET "data_o[9]" LOC = "K1" ; //PmodB JB2
NET "data_o[10]" LOC = "L4" ; //PmodB JB3
NET "data_o[11]" LOC = "L3" ; //PmodB JB4
#NET "mjm" LOC = "J3" ; //PmodB JB7
#NET "mnin" LOC = "J1" ; //PmodB JB8
#NET "CLK_1" LOC = "K3" ; //PmodB JB9 CLOCK
#NET "GND_1" LOC = "K5" ; //PmodB JB10 CLOCK

## PmodC ##
NET "garg[1]" LOC = "H3" ; //PmodC JC1
NET "garg[2]" LOC = "L7" ; //PmodC JC2
NET "garg[3]" LOC = "K6" ; //PmodC JC3
NET "garg[0]" LOC = "G3" ; //PmodC JC4
#NET "D[4]" LOC = "G1" ; //PmodC JC7
#NET "D[5]" LOC = "J7" ; //PmodC JC8
#NET "D[6]" LOC = "J6" ; //PmodC JC9
#NET "D[7]" LOC = "F2" ; //PmodC JC10

## 7 Segmentos ##
#NET "alalas" LOC = "T17" ; //CA
#NET "codigo_o[1]" LOC = "T18" ; //CB
#NET "codigo_o[2]" LOC = "U17" ; //CC
#NET "codigo_o[3]" LOC = "U18" ; //CD
#NET "codigo_o[4]" LOC = "M14" ; //CE
#NET "codigo_o[5]" LOC = "N14" ; //CF
#NET "codigo_o[6]" LOC = "L14" ; //CG
#NET "codigo_o[7]" LOC = "M13" ; //DP
#NET "anodos_o[0]" LOC = "P17" ; //AN3
#NET "anodos_o[1]" LOC = "P18" ; //AN2
#NET "anodos_o[2]" LOC = "N15" ; //AN1
#NET "anodos_o[3]" LOC = "N16" ; //AN0

## USB-HID ##
#NET "ps2_data" LOC = "J13" | PULLUP;
#NET "ps2_clk"  LOC = "L12" | PULLUP;
#NET "ps2_clk"  LOC = "L12" | IOSTANDARD = "LVCMOS33" | PULLUP;  #Bank = 1, Pin name = IO_L40P_GCLK11_M1A5,      Sch name = PIC-SCK1

## CLK ##
NET "clk_i" LOC = "V10";